.docx-to-html-content {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.docx-to-html-content h1, .docx-to-html-content h2, .docx-to-html-content h3, .docx-to-html-content h4, .docx-to-html-content h5, .docx-to-html-content h6 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    color: #1489e4 !important;
}

.featured-image {
    background-position: right 0px center;
    width: 100%;
    height: 387px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.featured-image.hide {
    display: none;
}

.docx-to-html-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
}

.docx-to-html-content ol {
    color: #666;
    font-size: 14px;
    line-height: 1.9em;
    margin-left: 35px;
}

.custom-article-title {
    position: relative;
    font-family: Allura, handwriting;
    font-weight: 700;
    font-size: 70px;
    color: #03c7f7 !important;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 0 0 .3em #000;
    z-index: 10;
}

.docx-to-html-content .custom-img {
    display: flex;
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
}

.docx-to-html-content .custom-img img {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 400px;
    height: 200px;
    margin: 5px;
    border-radius: 7px 7px 7px 7px !important;
    overflow: hidden !important;
    box-shadow: 6px 6px 18px 0 rgba(0, 0, 0, .3);
}